body {
	background-color: gray;
	background-image:url(http://tub.tubgit.com/images246/ngmwyfk10om.jpg);
	background-repeat:no-repeat;
	
}
nav {
	width: 1355px;
	cursor: pointer;
	font-family: calibri;
}

ul {
	list-style-type: none;
	padding: 15px;
	background: gray;
}

li {
	display:inline;
	padding: 10px;
	margin-right: 10px;
	border-right: 2px solid;
	font-size: 20px;
}

a {
	color: white;
	text-decoration: none;
}
table {
	font-size: 20px;
	margin: 70px 0 0 220px;
	border-style: solid;
	color: white;
	font-family: calibri;
}

h1 {
	margin:  50px 0 0 220px;
	color: white;
	font-family: calibri;
}

p {
	color: white;
	font-size: 19px;
	font-family: calibri;
	margin: 20px 0 0 20px;
}

.table{
	margin: 50px auto 0 0;
	 width: 50%;
}


#allPlayers{
	margin: 50px auto 0 0;
	width: 25%;
}

#favPlayers {
	width: 25%;
}

.neu{
	font-size: 35px;
	margin: 50px 0 0 220px;
	color: white;
	font-family: calibri;
}
